<html>
    <head>
        <style>
            body {background-color: beige;}
            h1 {text-align: center; color: black;}
            h2{text-align: center;}

            .main-display {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                /*min-height: 50vh;*/
            }
        
        </style>
    </head>
    <body >
        <h1>Hello everyone</h1>

        <form id="zip" class="main-display" method="post"> 
            Please enter you zip code!<input type="text" name="zipcode"> <input type="submit" name="submit">

        </form>

        <divs class="main-display">
            <p style="text-align:justify;">
                <b>Time and Date:</b> {{info.dateTime}} <br>
                <b>Temperature:</b> {{info.temp}}<br>
                <b>Feels like:</b> {{info.feels}}<br>
                <b>Weather type:</b> {{info.weather}}<br>
                <b>Humidity:</b> {{info.humid}}<br>
                <b>Chance of rain:</b> {{info.rain}}
            </p>
        </div>
        
    </body>
</html>